//====================================================================================================
.footer {
    position: relative;
    padding: toRem(0) toRem(0) toRem(0) toRem(0);
    background-color: $bgDark;
    color: $bgGold;
    &::before,
    &::after {
        content:'';
        position: absolute;
        top: 0;
        height: 100%;
        width: toRem(174);
        @media (max-width: em(1640)) {
            opacity: 0.2;
        }
    }
    &::before {
        content:'';
        left: 0;
        bottom: 0;
        background: url('@img/footer-decor.svg') left bottom / 100% no-repeat;
    }
    &::after {
        content:'';
        right: 0;
        top: 0;
        background: url('@img/footer-decor.svg') left bottom / 100% no-repeat;
        transform: rotate(-180deg);
    }
    // .footer__container
    &__container {
        position: relative;
        z-index: 5;
    }
    // .footer__body
    &__body {
        @include adaptiveValue("padding-top", 92, 30);
        @include adaptiveValue("padding-bottom", 45, 30);
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        @media (max-width:$tablet) {
            grid-template-columns: repeat(2, 1fr);
        }
        @media (max-width:$mobile) {
            grid-template-columns: auto;
        }
    }
    // .footer__content
    &__content {
        @include adaptiveValue("padding-right", 40, 15);
        @media (max-width:$tablet) {
            order: 2;
        }
        @media (min-width:$tablet) {
            border-right: toRem(1) solid $bgGold;
        }
        @media (max-width:$mobile) {
            order: 3;
        }
    }
    // .footer__menu
    &__menu {
        &:not(:last-child) {
            @include adaptiveValue("margin-bottom", 40, 20);
        }
    }
    // .footer__social
    &__social {}
    // .footer__logo
    &__logo {
        justify-self: center;
        align-self: center;
        @include adaptiveValue("width", 287, 150);
        @media (max-width:$tablet) {
            order: 1;
            grid-column: span 2;
            &:not(:last-child) {
                @include adaptiveValue("margin-bottom", 40, 30);
            }
        }
        @media (max-width:$mobile) {
            grid-column: span 1;
        }
    }
    // .footer__subscribe
    &__subscribe {
        @media (max-width:$tablet) {
            order: 3;
        }
        @media (max-width:$mobile) {
            order: 2;
            @include adaptiveValue("margin-bottom", 40, 30);
        }
    }
    // .footer__copy
    &__copy {
        border-top: toRem(1) solid $bgGold;
        text-align: center;
        line-height: 120%;
        @include adaptiveValue("padding-top", 42, 15);
        @include adaptiveValue("padding-bottom", 42, 15);
    }
}
.menu-footer {
    // .menu-footer__title
    &__title {
        list-style: none;
        font-family: "Italiana";
        font-size: toRem(20);
        text-transform: capitalize;
        &:not(:last-child) {
            margin-bottom: toRem(15);
        }
        &::marker,
        &::-webkit-details-marker {
            display: none;
        }
        ._spoller-init & {
            display: flex;
            justify-content: space-between;
            align-items: center;
            &::after {
                display: flex;
                justify-content: end;
                @extend %ic;
                width: toRem(20);
                overflow: hidden;
                content:'\e908';
                transition: transform 0.3s ease 0s;
                transform: rotate(90deg);
            }
        }
        &._spoller-active {
            &::after {
                transform: rotate(-90deg);
            }
        }
    }
    // .menu-footer__list
    &__list {
        display: flex;
        flex-wrap: wrap;
        row-gap: toRem(3);
        @include adaptiveValue("column-gap", 42, 15);
        @media (max-width:$mobile) {
            flex-direction: column;
            flex-wrap: nowrap;
            row-gap: toRem(10);
        }
    }
    // .menu-footer__item
    &__item {}
    // .menu-footer__link
    &__link {
        font-weight: 300;
        line-height: 156%;
        display: inline-block;
        transition: color 0.3s ease 0s;
        @media (any-hover: hover){
            &:hover{
                color: $goldColorHover;
            }
        }
    }
}
.social {
    display: flex;
    flex-wrap: wrap;
    row-gap: toRem(3);
    @include adaptiveValue("column-gap", 41, 15);
    @media (max-width:$mobileSmall) {
        justify-content: space-between;
    }
    // .social__item
    &__item {
        font-size: toRem(24);
        transition: color 0.3s ease 0s;
        @media (any-hover: hover){
            &:hover{
                color: $goldColorHover;
            }
        }
    }
}
.subscribe {
    @include adaptiveValue("padding-left", 40, 15, 2, $containerWidth, 767.98);
    @media (min-width:$mobile) {
        border-left: toRem(1) solid $bgGold;
        display: grid;
        justify-items: end;
    }
    // .subscribe__body
    &__body {
        @media (min-width:$mobile) {
            max-width: toRem(347);
        }
    }
    // .subscribe__title
    &__title {
        font-family: "Italiana";
        text-transform: capitalize;
        @include adaptiveValue("font-size", 32, 18);
        line-height: 120%;
        &:not(:last-child) {
            @include adaptiveValue("margin-bottom", 25, 10);
        }
    }
    // .subscribe__form
    &__form {
        position: relative;
        display: flex;
        height: toRem(40);
        border-bottom: toRem(1) solid rgba(193, 176, 129, 0.2);
        .form__error {
            margin-top: toRem(5);
            position: absolute;
            top: 100%;
            left: 0;
            font-size: toRem(11);
            color: red;
        }
    }
    // .subscribe__input
    &__input {
        flex: 1 1 auto;
    }
    // .subscribe__button
    &__button {
        transition: color 0.3s ease 0s;
        @media (any-hover: hover){
            &:hover{
                color: $goldColorHover;
            }
        }
    }
}

//====================================================================================================
