.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 50;
    // .header__container
    &__container {
        display: grid;
        grid-template-columns: 1fr auto 1fr;
        gap: toRem(20);
        @include adaptiveValue("min-height", 152, 70);
        align-items: center;
        padding-top: toRem(10);
        padding-bottom: toRem(10);
        @media (max-width:$mobile) {
            gap: toRem(0);
            grid-template-columns: auto 1fr auto auto;
        }
    }
    // .header__menu
    &__menu {}
    // .header__logo
    &__logo {
        @include adaptiveValue("width", 317, 80);
        position: relative;
        z-index: 5;
        @media (max-width:$mobile) {
            .menu-open & {
                path {
                    transition: fill 0.3s ease 0s;
                    fill: #fff;
                }
            }
        }
    }
    // .header__action
    &__action {}
}
.menu {
    // .menu__icon
    &__icon {}
    // .menu__body
    &__body {
        @media (max-width:$mobile) {
            display: grid;
            grid-template-rows: 1fr auto;
            gap: toRem(30);
            position: fixed;
            width: 100%;
            height: 100%;
            left: -100%;
            top: 0;
            overflow: auto;
            background-color: $bgGold;
            transition: left 0.3s ease 0s;
            padding: toRem(100) toRem(15) toRem(30) toRem(15);
            &::before {
                content:'';
                position: fixed;
                width: 100%;
                @include adaptiveValue("height", 152, 70);
                top: 0;
                left: -100%;
                transition: left 0.3s ease 0s;
                background-color: $bgGold;
                z-index: 2;
            }
            .menu-open & {
                left: 0;
                &::before {
                    left: 0;
                }
            }
        }
    }
    // .menu__list
    &__list {
        display: flex;
        flex-wrap: wrap;
        row-gap: toRem(3);
        align-items: center;
        @include adaptiveValue("column-gap", 47, 15, 0, $containerWidth, 767.98);
        @media (max-width:$mobile) {
            flex-direction: column;
            row-gap: toRem(20);
        }
    }
    // .menu__item
    &__item {}
    // .menu__link
    &__link {
        display: inline-block;
        color: $bgGold;
        font-weight: 300;
        line-height: 152%;
        @media (max-width:$mobile) {
            color: #fff;
            font-size: toRem(28);
        }
        @media (any-hover: hover){
            &:hover{
                text-decoration: underline;
            }
        }
    }
}
.action-header {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    @include adaptiveValue("column-gap", 47, 15, 0, $containerWidth, 767.98);
    row-gap: toRem(3);
    align-items: center;
    @media (max-width:$mobile) {
        justify-content: center;
    }
    // .action-header__link
    &__link {
        display: inline-block;
        color: $bgGold;
        font-weight: 300;
        line-height: 152%;
        @media (max-width:$mobile) {
            color: #fff;
        }
        @media (any-hover: hover){
            &:hover{
                text-decoration: underline;
            }
        }
    }
    // .action-header__button
    &__button {
        @media (max-width:$tablet) {
            padding: toRem(8) toRem(20);
        }
        @media (max-width:$mobile) {
            border: toRem(1) solid #fff;
            color: #fff;
        }
    }
}